{% extends 'www/base.html' %}

{% block content %}
                    <h1>Bio</h1>
                    <p class="txt-italics mt-20 mr-20 ml-20">“{{ quote }}” - {{ quote_author }}</p>
                    <p class="mt-20">{{ p1 | safe }}</p>
                    <p class="mt-20">{{ p2 | safe }}</p>
                    <p class="mt-20">{{ p3 | safe }}</p>
                    <p class="mt-20">{{ p4 | safe }}</p>
                    <p class="mt-20">{{ p5 | safe }}</p>
                    <p class="mt-20">{{ p6 | safe }}</p>
                    <p class="mt-20">{{ p7 | safe }}</p>
                    <p class="mt-20">{{ p8 | safe }}</p>
                    <p class="mt-20">{{ p9 }}</p>
{% endblock content %}
